.col-md-4{
    padding-top: 20px;
    width: fit-content;
}
.container{
    padding-top: 10px;
    padding-bottom: 10px;
}
.imgsrc{
    position: relative;
    width: 100%;
    height: 50%;
    padding-top: 0px;
    background-attachment: fixed;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}