.card text-center{
    /* padding-top: ; */
    position: absolute;
    width: 100%;
}
.card img{
    position: relative;
    width: 100%;
    height: 50%;
    padding-top: 0px;
    background-attachment: fixed;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
/* body{
    background: radial-gradient(#e5e5e5,#ffffff, #e5e5e5 );
} */
.card{
    width: 20rem;
    min-height: 100px;
}
.card:hover{
    box-shadow: 5px 10px 20px 1px;
}
.card-body{
    padding: 3rem;
}
/* 
.btn btn-outline-success {
    width: fit-content;
    margin: auto;
} */
a.btn.btn-outline-success{
    margin: auto;
}